# Request HassanAbouelela for all PRs.
*                              @HassanAbouelela

# Request ks129, joe for CI and API related PRs.
.github/workflows/**           @ks129 @jb3
src/api/**                     @ks129
