# Request HassanAbouelela for all PRs.
!package.json                  @HassanAbouelela

# Request ks129, joe for CI and API related PRs.
.github/workflows/**           @ks129 @jb3
src/api/**                     @ks129
