form {
    margin: auto;
    width: 50%;
}

@media (max-width: 800px) {
    /* Make form larger on mobile and tablet screens */
    form {
        width: 80%;
    }
}

hr {
    color: gray;
    margin: 3rem 0 3rem 0;
}

h2 {
    margin-bottom: 0.75rem;
}

.unselectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.selectable {
    -moz-user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

/* Checkboxes */
.checkbox_label {
    display: inline-block;
    position: relative;
    top: 0.25em;

    width: 1em;
    height: 1em;

    margin: 1rem 0.5rem 0 0;
    border: whitesmoke 0.2rem solid;
    border-radius: 25%;

    -webkit-transition: background-color 300ms ease-in-out;
    transition: background-color 300ms ease-in-out;
}

.checkbox_label input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}

.unselected_checkbox_label {
    background-color: white;
}

.unselected_checkbox_label:hover {
    background-color: lightgray;
}

.selected_checkbox_label {
    background-color: #7289DA; /* Blurple */
}

.checkmark_span {
    position: absolute;
}

.selected_checkbox_label .checkmark_span {
    width: 0.30rem;
    height: 0.60rem;
    left: 0.25em;

    border: solid white;
    border-width: 0 0.2rem 0.2rem 0;

    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Radio */
input[type="radio"] {
    margin: 1rem 0.5rem 0 0;
    size: 20rem;
}
